@import '@flaticon/flaticon-uicons/css/solid/straight';

/* crude css reset */
*,
a:visited {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: unset;
    background: unset;
    font-family: unset;
    font-size: unset;
    font-weight: unset;
    text-decoration: unset;
    box-sizing: border-box;
}

:root {
    --fg: #19191c;
    --bg: #e1e2ea;
    --bg-1: #cbccd4;
    --bg-2: #b5b6be;
    --bg-info: #c0c1c8;
    --bg-success: #7efcb7;
    --bg-warning: #ebfc7e;
    --bg-error: #db6b6b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #e1e2ea;
        --bg: #19191c;
        --bg-1: #2f2f32;
        --bg-2: #454548;
        --bg-info: #3a3a3d;
        --bg-success: #007c57;
        --bg-warning: #6a6e02;
        --bg-error: #960101;
    }
}

html,
body {
    height: 100%;
    background: var(--bg);
    color: var(--fg);
    font-family: 'Rubik Variable', sans-serif;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 200%;
}

h2,
h3 {
    font-weight: 300;
    margin-bottom: 0.5em;

    &:not(:first-child) {
        margin-top: 1em;
    }
}

button {
    cursor: pointer;
}

.card {
    width: 100%;
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
    background: var(--bg-1);

    &.hover {
        transition: background 0.1s ease-in-out;
        &:hover {
            background: var(--bg-2);
        }
    }
}

.fi {
    display: block;
    line-height: 0;
}

.bar {
    .state-none > & {
        background: var(--bg-info);
    }

    .state-connecting > & {
        background: var(--bg-warning);
    }

    .state-open > & {
        background: var(--bg-success);
    }

    .state-error > & {
        background: var(--bg-error);
    }
}

.container {
    margin: 0 auto;
    padding: 2em 1em;
    max-width: 800px;
}
